{%extends 'jinja_forms.html'%}
{% block content %}
    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 800px;">
                <h3 class="card-title mt-3 text-center">Страхування цінних речей</h3>
                <form action="{{url_for('property_insurance', price='{{price}}')}}" method="post" id="cum" class="needs-validation" novalidate>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend form-check">

                              <label style="text-align: center" class="form-check-label" for="defaultCheck2">
                                Будь ласка, для правильного опрацювання даних просимо Вас вводити всю інформацію
                                виключно англійською мовою. Дякуємо за розуміння!
                              </label>
                        </div>
                    </div>
                    {% if price != 'default' %}
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Ваш тариф </span>
                         </div>
                        <input name="tarif" value="{{price}}" class="form-control"  type="text" readonly>
                    </div>
                    {% endif %}
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Річ, яку бажаєте застрахувати </span>
                         </div>
                        <input name="thing_name" class="form-control" pattern="[a-zA-Z0-9- ]+" type="text"
                               required >
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильну назву речі!
                        </div>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Вартість вашої речі  </span>
                         </div>
                        <input name="r_price" class="form-control" type="number" min="100"
                               max="100000" required >
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильну вартість речі!
                        </div>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend form-check">
                              <input name="check" class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                                     required>
                              <label class="form-check-label" for="defaultCheck1">
                                Підтверджую, що дана ціна є реальною ціною речі, яка страхується, затвердженою
                                відповідним органом. Я розумію, що в разі вказання невірних даних я не отримаю
                                страхування та буду занесений до чорного списку цієї компанії.
                              </label>
                        </div>
                    </div>
                    <h5 style="text-align:center; margin-bottom: 20px; margin-top: 20px;">
                        Ідентифікаційні дані власника
                    </h5>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Прізвище </span>
                         </div>
                        <input name="second_name" class="form-control" pattern="[a-zA-Z][a-zA-Z- ]+[a-zA-Z]" type="text"
                               required >
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильне прізвище!
                        </div>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Ім'я </span>
                         </div>
                        <input name="first_name" class="form-control" pattern="[a-zA-Z][a-zA-Z- ]+[a-zA-Z]" type="text"
                               required >
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильне ім'я!
                        </div>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> По батькові </span>
                         </div>
                        <input name="third_name_kekw" class="form-control" pattern="[a-zA-Z][a-zA-Z- ]+[a-zA-Z]"
                               type="text" required >
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильне ім'я по батькові!
                        </div>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Індивідуальний податковий номер </span>
                         </div>
                        <input name="id_number" class="form-control"
                               pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" type="text" maxlength="10"
                               required >
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильний податковий номер!
                        </div>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Дата народження </span>
                         </div>
                        <input name ='birthday' class="form-control" type="date" value="2000-01-01" id="birth"
                               min="1875-01-01" max="2000-01-01" required>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Серія і номер паспорту </span>
                         </div>
                        <input name="passport" class="form-control" pattern="[A-Z][A-Z][0-9][0-9][0-9][0-9][0-9][0-9]"
                               maxlength="8" type="text" required >
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильну серію паспорту!
                        </div>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Орган, що видав </span>
                         </div>
                        <input name="cumpany" class="form-control" pattern="[a-zA-Z ]+" type="text" required >
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильну назву органу, що видав паспорт!
                        </div>
                    </div>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Дата видання </span>
                         </div>
                        <input name ='date_of_issue' class="form-control" type="date" value="2000-01-01" id="get_date"
                               min="1889-01-01" max="2000-01-01" required>
                    </div>

                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Email</span>
                         </div>
                        <input name="email" class="form-control" type="email" required>
                        <div class="invalid-feedback">
                          Будь ласка, введіть правильний email!
                        </div>
                    </div>
                    <h5 style="text-align:center; margin-bottom: 20px; margin-top: 20px;">Кінець дії договору
                    </h5>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Дата кінця дії </span>
                         </div>
                        <input name ='begin_date' class="form-control" type="date" value="2000-01-01" min="2000-01-01"
                               max="2000-01-01" id="date1" required>
                    </div>
                    <h5 style="text-align:center; margin-bottom: 20px; margin-top: 20px;">
                        Прийняття індивідуальної пропозиції
                    </h5>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend form-check">
                              <input name="check" class="form-check-input" type="checkbox" value="" id="defaultCheck2"
                                     required>
                              <label class="form-check-label" for="defaultCheck2">
                                Підтверджую, що з умовами індивідуальної пропозиції згоден. З Правилами
                                ознайомлений(-а). Надаю дозвіл на обробку моїх персональних даних. Підтверджую
                                правильність даних для ідентифікації, що внесені мною. Підтверждую, що я не є
                                публічною особою, згідно до Законодавства України
                              </label>
                        </div>
                    </div>
                    <h5 style="text-align:center; margin-bottom: 20px; margin-top: 20px;">Телефон
                    </h5>
                    <div class="form-group input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Номер телефону </span>
                         </div>
                        <input name="phone" class="form-control" type="tel" id="phone" required>
                        <div class="invalid-feedback">
                          Будь ласка введіть існуючий номер телефону!
                        </div>
                    </div>
                    <div class="form-group " id="submit_button">
                        <button type="submit" class="btn btn-primary btn-block" id='send'>
                           Оплата та відправка полісу  </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'js/jquery.maskedinput.min.js') }}"></script>
    <script>
    $(function(){
      $("#phone").mask("+38(999) 999-99-99");
    });
    </script>
    <script>
        document.title = "Страхування цінних речей";
        n = new Date();
        y = n. getFullYear();
        m = n. getMonth() + 1;
        d = n. getDate();
        if(d<10){
            d='0'+d
            }
        if(m<10){
            m='0'+m
        }
        m1 = m + 1;
        if(m1>12){
            m1='01'
            y1=y+1
            }
        date = today = y+'-'+m+'-'+d;
        min_contract_date = today = y1+'-'+m1+'-'+d;
        max_contract_date = today = y+100+'-'+m+'-'+d;
        max_birth_date = today = y-18+'-'+m+'-'+d;
            document.getElementById("date1").setAttribute("min", min_contract_date);
            document.getElementById('date1').setAttribute("value", min_contract_date);
            document.getElementById('date1').setAttribute("max", max_contract_date);

            document.getElementById('birth').setAttribute("value", max_birth_date);
            document.getElementById('birth').setAttribute("max", max_birth_date);

            document.getElementById('get_date').setAttribute("value", date);
            document.getElementById('get_date').setAttribute("max", date);
    </script>
{% endblock %}
