.input-group {
    margin-top: 20px;
    margin-bottom: 0px;
}

#submit_button{
    margin-top: 20px;
}
footer{
    margin-top:auto;

    background: PapayaWhip;
}

/* Trick */
body{
  display:flex;
  flex-direction:column;
}
body{ height:100vh; margin:0; }

header{ min-height:50px; background:lightcyan; }
