<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Особистий кабінет</title>

    <style type="text/css">
          footer{position:absolute; bottom:0; width:100%;}
      </style>
</head>
<body>
    {%include 'nav.html' %}

    <br>

    <div class="container">
    <div class="main-body">

          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{url_for('static', filename = 'img/no-image-available.jpg')}}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
<!--                      <h4>{{full_name}}</h4>-->
<!--                      <p class="text-secondary mb-1">{{age}} years old</p>-->
                      <!--<p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                    </div>
                  </div>
                </div>
              </div>
<!--
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">@bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                </ul>
              </div>
-->
            </div>

            <div class="col-md-8">
                <form action="{{url_for('update_me')}}" method="post">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default" pattern="[a-zA-Z][a-zA-Z- ]+[a-zA-Z]">Full Name</span>
                      </div>
                      <input type="text" name = 'fname' value="{{g.fname[1:-1]}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <hr>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"  id="inputGroup-sizing-default">Email</span>
                      </div>
                      <input type="email" name = 'email' value="{{g.email}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>

                  <hr>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date of birth</span>
                      </div>
                      <input type="date" name = 'birthdate' class="form-control" name ='date' aria-label="Default" aria-describedby="inputGroup-sizing-default" value="2000-01-01" min="1875-01-01" max="2020-01-01" id="birth">
                  </div>
                  <hr>
<!--
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      (239) 816-9029
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Mobile</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      (320) 380-4539
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Bay Area, San Francisco, CA
                    </div>
                  </div>
                  <hr>-->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Health insurance</span>
                      </div>
                      <input type="text" value="{{g.ins_life[-1]}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                  </div>
                  <hr>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">House insurance</span>
                      </div>
                      <input type="text" value="{{g.ins_house}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                  </div>
                  <hr>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Car insurance</span>
                      </div>
                      <input type="text" value="{{g.ins_auto}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                  </div>
                    <hr>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Valuables insurance</span>
                      </div>
                      <input type="text" value="{{g.ins_valuables}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" disabled>
                  </div>

                  <hr>
                    <input type="submit" class="btn btn-success" value = 'Підтвердити'></input>
                </div>
              </div>
                    </form>
            </div>

          </div>
        </div>
    </div>
{%include 'footer.html'%}
    <script>
        n = new Date();
        y = n. getFullYear();
        m = n. getMonth() + 1;
        if(d<10){
            d='0'+d
            }
        if(m<10){
            m='0'+m
        }
        max_birth_date = today = y-18+'-'+m+'-'+d;
            document.getElementById("birth").setAttribute("max", max_birth_date);
            document.getElementById('birth').setAttribute("value", max_birth_date);
    </script>
</body>
</html>